<main class="container mx-auto">
  <h1 class="mt-5 mb-20 text-5xl font-bold text-center lg:text-7xl">
    Dashboard
  </h1>

  <app-responsive-slider>
    <ng-template #slide>
      <div class="shadow-xl rounded-xl h-[30rem]"></div>
    </ng-template>
    <ng-template #slide>
      <div class="border-2 border-neutral rounded-xl h-[30rem]"></div>
    </ng-template>
    <ng-template #slide>
      <div class="grid grid-rows-2 gap-4">
        <div class="border-2 border-neutral rounded-xl h-[14.5rem]"></div>
        <div class="border-2 border-neutral rounded-xl h-[14.5rem]"></div>
      </div>
    </ng-template>
  </app-responsive-slider>

  <div
    class="shadow-xl rounded-xl h-[30rem] grid place-items-center p-5 lg:p-10 mx-5 lg:mx-0"
    #canvasContainer
  >
    <canvas
      baseChart
      [type]="'bar'"
      [data]="barChartData"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      #barChartCanvas
    >
    </canvas>
  </div>
</main>
