<main class="container mx-auto">
  <app-multistep-modal>
    <ng-template #step>
      <h3 class="text-lg font-bold">Tutorial step 1</h3>
      <p class="py-4">This is the first step of the tutorial</p>
    </ng-template>
    <ng-template #step>
      <h3 class="text-lg font-bold">Tutorial step 2</h3>
      <p class="py-4">This is the second step of the tutorial</p>
    </ng-template>
    <ng-template #step>
      <h3 class="text-lg font-bold">Tutorial step 3</h3>
      <p class="py-4">This is the third step of the tutorial</p>
    </ng-template>
  </app-multistep-modal>

  <app-responsive-slider [hasMain]="true">
    <ng-template #slide *ngFor="let province of provincesData">
      <div class="rounded-xl h-[25rem] overflow-hidden">
        <figure
          class="relative w-full h-full transition-all duration-200 cursor-pointer hover:scale-105"
        >
          <img
            [src]="'assets/provinces/' + province.imageName"
            [alt]="province.name"
            class="object-cover w-full h-full"
          />
          <figcaption
            class="absolute inset-0 grid text-5xl font-medium text-white pointer-events-none bg-base-content bg-opacity-70 place-items-center lg:text-7xl"
          >
            {{ province.name }}
          </figcaption>
        </figure>
      </div>
    </ng-template>
  </app-responsive-slider>
</main>
