<div *ngIf="!darkMode; else light">
  <div data-theme="nomad-light">
    <div class="bg-base-100">
      <app-navbar (themeChanged)="updateTheme($event)"></app-navbar>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<ng-template #light>
  <div data-theme="nomad-dark">
    <div class="bg-base-100">
      <app-navbar (themeChanged)="updateTheme($event)"></app-navbar>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </div>
</ng-template>



