<div
  class="navbar bg-transparent fixed top-0 z-50 bg-base-100 shadow-md px-10"
>
  <a class="navbar-start flex items-center lg:ml-16">
    <picture>
      <source media="(min-width:1024px)" srcset="/assets/logo-desktop.png" />
      <img
        src="assets/logo-mobile.webp"
        alt="Nomad Logo"
        class="h-10 my-4"
        [routerLink]="'/home/'"
      />
    </picture>
  </a>
  <div class="navbar-end">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="assets/logo-mobile-nomad.svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </label>
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-40"
      >
        <li><a [routerLink]="'/home/'">Home</a></li>
        <li><a [routerLink]="'/dashboard/'">Dashboard</a></li>
        <li><a [routerLink]="'/about/'">About</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-end hidden lg:flex">
    <ul class="menu menu-horizontal px-1 text-lg">
      <li><a class="mr-10" [routerLink]="'/home/'">Home</a></li>
      <li class="mr-10"><a [routerLink]="'/dashboard/'">Dashboard</a></li>
      <li class="mr-10"><a [routerLink]="'/about/'">About</a></li>
      <li><a (click)="changeLanguage('it')">IT</a></li>
      <li><a (click)="changeLanguage('en')">EN</a></li>
    </ul>
  </div>
</div>
