<div class="navbar bg-transparent">
  <a [routerLink]="'/home/'" class="navbar-start flex items-center ml-5">
    <img
      src="/assets/nomadLogo.webp"
      class="h-10 mr-3 sm:h-10"
      alt="Nomad Logo"
    />
  </a>
  <div class="navbar-end">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="/frontend/src/assets/logo-mobile-nomad.svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </label>
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-40"
      >
        <li><a [routerLink]="'/stats/'">Dashboard</a></li>
        <li><a [routerLink]="'/about/'">About</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-end hidden lg:flex">
    <ul class="menu menu-horizontal px-1 mr-20">
      <li class="mr-10"><a [routerLink]="'/stats/'">Dashboard</a></li>
      <li><a [routerLink]="'/about/'">About</a></li>
    </ul>
  </div>
</div>
