<main>
  <section class="min-h-screen grid place-items-center grid-cols-2">
    <div>
      <h1 class="text-9xl text-secondary font-bold">Nomad</h1>
      <p class="text-neutral text-2xl max-w-[45ch]">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium a
        ea velit eaque!
      </p>

      <app-button [class]="'mt-10'">Get started</app-button>
    </div>
    <div>
      <figure>
        <img src="assets/svg/home-hero.svg" alt="" />
      </figure>
    </div>
  </section>
</main>
