<main>
  <section class="grid min-h-screen grid-cols-2 place-items-center">
    <div>
      <h1 class="font-bold text-9xl text-secondary">Nomad</h1>
      <p class="text-neutral text-2xl max-w-[45ch]">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium a
        ea velit eaque!
      </p>

      <app-button [class]="'mt-10'">Get started</app-button>
    </div>
    <div>
      <figure>
        <img src="assets/svg/home-hero.svg" alt="" />
      </figure>
    </div>
  </section>
  <section class="grid min-h-screen grid-cols-2 place-items-center">
    <div>
      <figure>
        <img src="assets/svg/home-about.svg" alt="" />
      </figure>
    </div>
    <div>
      <h2 class="mb-3 font-bold text-7xl text-secondary">About Nomad</h2>
      <p class="text-neutral text-2xl max-w-[45ch]">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
        inventore voluptatibus ex sit dolor, maiores eum? Distinctio dolorem
        ipsam autem sint, eos dolor, quos animi possimus sit inventore soluta
        impedit?
      </p>

      <app-button [class]="'mt-10'">Find out more</app-button>
    </div>
  </section>
  <section class="grid min-h-screen grid-cols-2 place-items-center">
    <div>
      <h2 class="mb-3 font-bold text-7xl text-secondary">Use your own data</h2>
      <p class="text-neutral text-2xl max-w-[45ch]">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
        inventore voluptatibus ex sit dolor, maiores eum? Distinctio dolorem
        ipsam autem sint, eos dolor, quos animi possimus sit inventore soluta
        impedit?
      </p>

      <app-button [class]="'mt-10'">Try it out</app-button>
    </div>
    <div>
      <figure>
        <img src="assets/svg/home-upload.svg" alt="" />
      </figure>
    </div>
  </section>
</main>
