<main class="container mx-auto">
  <h1 class="mt-10 mb-5 text-4xl font-medium text-center lg:text-6xl">
    Statistiche relative a
    <span class="text-primary font-bold">{{ regionName | uppercase }}</span>
  </h1>

  <app-multistep-modal
    [modalOpen]="tutorialModalOpen"
    (closeModal)="closeModal()"
  >
    <ng-template #step>
      <h3 class="text-lg font-bold">Tutorial step 1</h3>
      <p class="py-4">This is the first step of the tutorial</p>
    </ng-template>
    <ng-template #step>
      <h3 class="text-lg font-bold">Tutorial step 2</h3>
      <p class="py-4">This is the second step of the tutorial</p>
    </ng-template>
    <ng-template #step>
      <h3 class="text-lg font-bold">Tutorial step 3</h3>
      <p class="py-4">This is the third step of the tutorial</p>
    </ng-template>
  </app-multistep-modal>

  <div class="flex justify-end mx-5 my-5 lg:mx-0">
    <div
      class="flex items-center tooltip tooltip-left tooltip-open tooltip-primary"
      data-tip="Mostra il tutorial"
    >
      <button (click)="openModal()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-7 h-7"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z"
          />
        </svg>
      </button>
    </div>
  </div>

  <div
    class="grid grid-cols-1 gap-2 mx-5 my-5 md:gap-5 md:grid-cols-2 lg:flex lg:justify-center lg:mx-0"
  >
    <div class="flex flex-col flex-1 gap-1">
      <label for="tourists" class="text-sm font-medium">Tipo di turisti</label>
      <select class="w-full select select-bordered bg-white" id="tourists">
        <option selected>Tutti</option>
        <option>Turisti italiani</option>
        <option>Turisti stranieri</option>
      </select>
    </div>
    <div class="flex flex-col flex-1 gap-1">
      <label for="structures" class="text-sm font-medium"
        >Struttura di residenza</label
      >
      <select class="w-full select select-bordered bg-white" id="structures">
        <option selected>Tutte</option>
        <option>Hotel</option>
        <option>Altre</option>
      </select>
    </div>
    <div class="flex flex-col flex-1 gap-1">
      <label for="statsYear" class="text-sm font-medium"
        >Anno statistiche</label
      >
      <select class="w-full select select-bordered bg-white" id="statsYear">
        <option selected>2021</option>
        <option>2020</option>
        <option>2019</option>
        <option>2018</option>
        <option>2017</option>
        <option>2016</option>
        <option>2015</option>
        <option>2014</option>
        <option>2013</option>
        <option>2012</option>
        <option>2011</option>
        <option>2010</option>
        <option>2009</option>
        <option>2008</option>
      </select>
    </div>
    <div class="flex flex-col flex-1 gap-1">
      <label for="predictionsYear" class="text-sm font-medium"
        >Anno previsioni</label
      >
      <select
        class="w-full select select-bordered bg-white"
        id="predictionsYear"
      >
        <option selected>2022</option>
        <option>2023</option>
        <option>2024</option>
        <option>2025</option>
        <option>2026</option>
      </select>
    </div>
  </div>

  <app-responsive-slider>
    <ng-template #slide>
      <div class="rounded-xl h-[30rem] shadow-2xl bg-white">
        <canvas
          baseChart
          [type]="'bar'"
          [data]="arrivalsStatsChart.chartData"
          [options]="arrivalsStatsChart.options"
          [legend]="arrivalsStatsChart.legend"
          *ngIf="!mobileCanvas"
        >
        </canvas>
        <canvas
          baseChart
          [type]="'bar'"
          [data]="arrivalsStatsChart.chartData"
          [options]="mobileOptions"
          [legend]="arrivalsStatsChart.legend"
          *ngIf="mobileCanvas"
        >
        </canvas>
      </div>
    </ng-template>
    <ng-template #slide>
      <div class="rounded-xl h-[30rem] shadow-2xl bg-white">
        <canvas
          baseChart
          [type]="'bar'"
          [data]="attendancesStatsChart.chartData"
          [options]="attendancesStatsChart.options"
          [legend]="attendancesStatsChart.legend"
        >
        </canvas>
      </div>
    </ng-template>
    <ng-template #slide>
      <div class="rounded-xl h-[30rem] shadow-2xl bg-white">
        <canvas
          baseChart
          [type]="'bar'"
          [data]="arrivalsStatsChart.chartData"
          [options]="arrivalsStatsChart.options"
          [legend]="arrivalsStatsChart.legend"
        >
        </canvas>
      </div>
    </ng-template>
    <ng-template #slide>
      <div class="rounded-xl h-[30rem] shadow-2xl bg-white">
        <canvas
          baseChart
          [type]="'bar'"
          [data]="arrivalsStatsChart.chartData"
          [options]="arrivalsStatsChart.options"
          [legend]="arrivalsStatsChart.legend"
        >
        </canvas>
      </div>
    </ng-template>
  </app-responsive-slider>
</main>
