/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

#outlander {
  background: #e70b67;
  background: linear-gradient(to right, #e70b67 0%, #3f3d56 77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
