<div
  class="hero min-h-screen"
  style="
    background-image: url(assets/about/greg-willson-Hvd8Mw7hKBE-unsplash.jpg);
    background-position: top;
  "
>
  <div class="hero-overlay bg-opacity-10"></div>
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1
        id="outlander"
        class="mb-7 text-center text-5xl font-bold drop-shadow-2xl lg:text-7xl"
      >
        OUTLANDER
      </h1>
      <!-- FIXME:white -->
      <p
        class="mb-7 text-xl text-white drop-shadow-2xl lg:text-2xl xl:text-3xl"
      >
        Lorem ipsum dolor sit amet
      </p>
    </div>
  </div>
</div>

<div class="py-24 sm:py-30">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mt-10 max-w-lg sm:mx-auto md:max-w-none">
      <div
        class="grid grid-cols-1 gap-y-16 md:grid-cols-2 md:gap-x-12 md:gap-y-16"
      >
        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div
            class="flex h-12 w-12 items-center justify-center rounded-xl text-white sm:shrink-0"
          >
            <!-- FIXME:bg-gray-500 -->
            <!-- Heroicon name: outline/globe-alt -->
            <img src="assets/about/undraw_ghost.svg" />
          </div>
          <div class="sm:min-w-0 sm:flex-1">
            <p class="text-lg font-semibold leading-8 text-gray-900">
              CHI SIAMO
            </p>
            <p class="mt-2 text-base leading-7 text-gray-600">
              OUTLANDER è una
              <span class="font-bold">web agency torinese</span> nata dalla
              passione di otto ragazzi per le tecnologie e il mondo digital.
            </p>
          </div>
        </div>

        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div
            class="flex h-12 w-12 items-center justify-center rounded-xl text-white sm:shrink-0"
          >
            <!-- Heroicon name: outline/scale -->
            <img src="assets/about/undraw_heart-fun.svg" />
          </div>
          <div class="sm:min-w-0 sm:flex-1">
            <p class="text-lg font-semibold leading-8 text-gray-900">
              IL NOSTRO FOCUS
            </p>
            <p class="mt-2 text-base leading-7 text-gray-600">
              Ci occupiamo di soluzioni web per privati e aziende legate al
              <span class="font-bold">settore turistico</span>.
            </p>
          </div>
        </div>

        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div
            class="flex h-12 w-12 items-center justify-center rounded-xl text-white sm:shrink-0"
          >
            <!-- Heroicon name: outline/bolt -->
            <img src="assets/about/undraw_code.svg" />
          </div>
          <div class="sm:min-w-0 sm:flex-1">
            <p class="text-lg font-semibold leading-8 text-gray-900">
              LE NOSTRE TECNOLOGIE
            </p>
            <p class="mt-2 text-base leading-7 text-gray-600">Lorem ipsum</p>
          </div>
        </div>

        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div
            class="flex h-12 w-12 items-center justify-center rounded-xl text-white sm:shrink-0"
          >
            <!-- FIXME:logo nomad? -->
            <!-- Heroicon name: outline/device-phone-mobile -->
            <img src="assets/about/undraw_bar-chart.svg" />
          </div>
          <div class="sm:min-w-0 sm:flex-1">
            <p class="text-lg font-semibold leading-8 text-gray-900">NOMAD</p>
            <p class="mt-2 text-base leading-7 text-gray-600">
              È il nostro ultimo progetto, una web application che analizza i
              flussi associati ai movimenti e alle scelte dei turisti verso
              <span class="font-bold">l’Abruzzo</span>. Grazie ad un modello di
              machine learning addestrato, NOMAD propone le previsioni di flussi
              futuri, garantendo un'accuratezza fino a
              <span class="font-bold">cinque anni</span>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FIXME:check class -->
<div class="py-10 sm:py-32 pseudo-bg-primary">
  <div class="mx-auto px-6 lg:px-8">
    <div class="text-center">
      <p
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Il nostro team
      </p>
      <!-- FIXME: -->
      <p class="mx-auto mt-6 max-w-2xl text-lg leading-8 text-gray-600">
        Lorem ipsum dolor sit amet consect adipisicing elit. Possimus magnam
        voluptatum cupiditate veritatis in accusamus quisquam.
      </p>
    </div>
    <div
      class="flex items-center justify-center flex-wrap gap-6 flex-col lg:flex-row"
    
    >
      <div *ngFor="let person of team" style="flex: 0 0 320px" class="flex items-center justify-center">
        <app-avatar
          [name]="person.name"
          [role]="person.role"
          [image]="person.image"
        
        ></app-avatar>
      </div>
    </div>
  </div>
</div>
