<!-- HERO section -->
<div
  class="hero min-h-screen"
  style="
    background-image: url(assets/about/3.jpg);
    background-color: #cccccc;
    height: 8em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  "
>
  <!-- FIXME:border? text white -->
  <div class="hero-overlay bg-opacity-0"></div>
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1
        id="outlander"
        class="mb-7 text-center text-5xl font-bold drop-shadow-2xl lg:text-7xl"
      >
        OUTLANDER
      </h1>
      <p
        class="mb-7 text-2xl text-white drop-shadow-2xl lg:text-3xl xl:text-4xl"
      >
        Charting a new course in the digital realm
      </p>
    </div>
  </div>
</div>

<!-- FEATURES section -->
<main class="container mx-auto">
  <div class="py-24 sm:py-30">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mt-10 max-w-lg sm:mx-auto md:max-w-none">
        <div
          class="grid grid-cols-1 gap-y-16 md:grid-cols-2 md:gap-x-12 md:gap-y-16"
        >
          <div
            class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
          >
            <div
              class="flex h-12 w-12 items-center justify-center rounded-xl text-white sm:shrink-0"
            >
              <!-- Heroicon name: outline/globe-alt -->
              <img src="assets/about/handcrafts/undraw_ghost.svg" />
            </div>
            <div class="sm:min-w-0 sm:flex-1">
              <p class="text-lg font-semibold leading-8 text-gray-900">
                CHI SIAMO
              </p>
              <p class="mt-2 text-base leading-7 text-gray-600">
                Outlander è una
                <span class="font-bold">web agency torinese</span> specializzata
                nella creazione di siti e web applications all'avanguardia.
              </p>
              <p class="mt-2 text-base leading-7 text-gray-600">
                L'azienda è nata da un team di developers e designers
                determinati a
                <span class="font-bold"
                  >trasformare le loro passioni in soluzioni
                </span>
                per privati ed aziende, ideate una ad una con creatività e con
                un approccio fuori dagli schemi.
              </p>
              <p class="mt-2 text-base leading-7 text-gray-600">
                La parola outlander evoca l'idea di
                <span class="font-bold"
                  >un'esplorazione verso soluzioni innovative</span
                >, create per soddisfare il cliente ed accompagnarlo in un
                viaggio alla scoperta frontiera digitale.
              </p>
            </div>
          </div>

          <div
            class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
          >
            <div
              class="flex h-12 w-12 items-center justify-center rounded-xl text-white sm:shrink-0"
            >
              <!-- Heroicon name: outline/scale -->
              <img src="assets/about/handcrafts/undraw_heart-fun.svg" />
            </div>
            <div class="sm:min-w-0 sm:flex-1">
              <p class="text-lg font-semibold leading-8 text-gray-900">
                IL NOSTRO FOCUS
              </p>
              <p class="mt-2 text-base leading-7 text-gray-600">
                Ci occupiamo di soluzioni web per privati e aziende legate al
                <span class="font-bold">settore turistico</span>.
              </p>
              <p class="mt-2 text-base leading-7 text-gray-600">
                Il nostro focus comprende
                <span class="font-bold">innovazione</span> e
                <span class="font-bold">User Experience</span>, e con questi
                pilastri proponiamo soluzioni su misura per soddisfare i bisogni
                del cliente.
              </p>
              <p class="mt-2 text-base leading-7 text-gray-600">
                Tutti i progetti e le soluzioni di Outlander comprendono
                un'attenta analisi della <span class="font-bold">UX</span> e
                della <span class="font-bold">UI</span>, uno sviluppo
                <span class="font-bold">Mobile First</span> e un'ottimizzazione
                in ottica <span class="font-bold">SEO</span>.
              </p>
            </div>
          </div>

          <div
            class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
          >
            <div
              class="flex h-12 w-12 items-center justify-center rounded-xl text-white sm:shrink-0"
            >
              <!-- Heroicon name: outline/bolt -->
              <img src="assets/about/handcrafts/undraw_code.svg" />
            </div>
            <!-- FIXME:icons e copyright -->
            <div class="sm:min-w-0 sm:flex-1">
              <p class="text-lg font-semibold leading-8 text-gray-900">
                LE NOSTRE TECNOLOGIE
              </p>
              <p class="mt-2 text-base leading-7 text-gray-600 mb-5">
                Un viaggio alla scoperta della digital era, guidato da
                tecnologie innovative ed esperienza.
              </p>
              <ul class="mt-5 text-base leading-7 text-gray-600">
                <li class="flex items-center justify-center m-5 gap-20">
                  <img
                    src="assets/about/technologies/angular.svg"
                    alt="tecnology logo"
                    class="w-20 h-20"
                  />
                  <img
                    src="assets/about/technologies/javascript.svg"
                    alt="tecnology logo"
                    class="w-20 h-20"
                  />
                  <img
                    src="assets/about/technologies/sql.svg"
                    alt="tecnology logo"
                    class="w-20 h-20"
                  />
                </li>
                <li class="flex items-center justify-center m-5 gap-20">
                  <img
                    src="assets/about/technologies/java.svg"
                    alt="tecnology logo"
                    class="w-20 h-20"
                  />
                  <img
                    src="assets/about/technologies/python.svg"
                    alt="tecnology logo"
                    class="w-20 h-20"
                  />
                </li>

                <li class="flex items-center justify-center m-5 gap-20"></li>
              </ul>
            </div>
          </div>

          <div
            class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
          >
            <div
              class="flex h-12 w-12 items-center justify-center rounded-xl text-white sm:shrink-0"
            >
              <!-- FIXME:logo nomad? -->
              <!-- Heroicon name: outline/device-phone-mobile -->
              <img src="assets/about/handcrafts/undraw_bar-chart.svg" />
            </div>
            <div class="sm:min-w-0 sm:flex-1">
              <p class="text-lg font-semibold leading-8 text-gray-900">NOMAD</p>
              <p class="mt-2 text-base leading-7 text-gray-600">
                È il nostro ultimo progetto, una web application che permette
                l'utente di
                <span class="font-bold">esplorare la regione Abruzzo</span> come
                mai prima d'ora.
              </p>
              <p class="mt-2 text-base leading-7 text-gray-600">
                Con un'interfaccia user-friendly, NOMAD analizza dataset ISTAT e
                crea
                <span class="font-bold">grafici interattivi</span> che
                forniscono all'utente uno sguardo dettagliato sui flussi di
                turisti, italiani e stranieri, e sulle loro scelte, dal tipo di
                alloggio alle province più popolari. NOMAD è la soluzione ideale
                che garantisce affidabilità e correttezza dei dati.
              </p>
              <p class="mt-2 text-base leading-7 text-gray-600">
                Inoltre, con un modello di machine learning addestrato, NOMAD
                propone una serie di <span class="font-bold">previsioni</span> a
                medio e lungo termine dei flussi turistici futuri, assicurando
                un'accuratezza fino a
                <span class="font-bold">cinque anni</span>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- TEAM section -->
  <div class="py-15 sm:py-20 pseudo-bg-primary">
    <div class="mx-auto px-6 lg:px-8">
      <div class="text-center">
        <p
          class="mb-10 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
        >
          Il nostro team
        </p>
      </div>
      <div
        class="flex items-center justify-center flex-wrap gap-6 flex-col lg:flex-row"
      >
        <div
          class="flex items-center justify-center flex-[0_0_20%] xs:flex-[0_0_10%]"
          *ngFor="let person of team"
        >
          <app-avatar
            [name]="person.name"
            [role]="person.role"
            [image]="person.image"
          ></app-avatar>
        </div>
      </div>
    </div>
  </div>

  <!-- CONTACTS section -->
  <div class="py-10 sm:py-15">
    <div class="mx-auto px-6 lg:px-8">
      <div class="text-center">
        <p
          class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
        >
          Contatti
        </p>
      </div>
    </div>
  </div>
  <div class="mx-auto mb-50 max-w-7xl px-6 lg:px-8">
    <div class="mt-10 max-w-lg sm:mx-auto md:max-w-none">
      <div
        class="grid grid-cols-1 gap-y-16 md:grid-cols-2 md:gap-x-12 md:gap-y-16"
      >
        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div
            class="flex h-12 w-12 items-center justify-center rounded-xl text-white sm:shrink-0 m-auto"
          >
            <img src="assets/about/handcrafts/undraw_heart-fun.svg" />
          </div>
          <div class="sm:min-w-0 sm:flex-1 text-center lg:text-justify lg:ml-5">
            <p class="text-lg font-semibold leading-8 text-gray-900">
              OUTLANDER S.r.l.
            </p>
            <p
              class="m-auto w-[60%] md:mt-2 md:w-auto text-base leading-7 text-gray-600"
            >
              © 2022. All right reserved. P.Iva: 1000000000
            </p>
          </div>
        </div>

        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div
            class="flex h-12 w-12 items-center justify-center rounded-xl text-white sm:shrink-0 m-auto"
          >
            <img src="assets/about/handcrafts/undraw_pointer.svg" />
          </div>
          <div class="sm:min-w-0 sm:flex-1 text-center lg:text-justify lg:ml-5">
            <p class="text-lg font-semibold leading-8 text-gray-900">
              TURIN HQ
            </p>
            <p
              class="m-auto w-[60%] md:mt-2 md:w-auto text-base leading-7 text-gray-600"
            >
              Via Jacopo Durandi 10 - Torino (TO) 10123 - IT
            </p>
          </div>
        </div>

        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div
            class="flex h-12 w-12 items-center justify-center rounded-xl text-white sm:shrink-0 m-auto"
          >
            <img src="assets/about/handcrafts/undraw_envelope.svg" />
          </div>
          <div class="sm:min-w-0 sm:flex-1 text-center lg:text-justify lg:ml-5">
            <p class="text-lg font-semibold leading-8 text-gray-900">EMAIL</p>
            <p class="mt-2 text-base leading-7 text-gray-600">
              <a
                href="mailto:info@outlander.com"
                class="underline underline-offset-2"
                >info@outlander.com</a
              >
            </p>
          </div>
        </div>

        <div
          class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
        >
          <div
            class="flex h-12 w-12 items-center justify-center rounded-xl text-white sm:shrink-0 m-auto"
          >
            <img src="assets/about/handcrafts/undraw_chat.svg" />
          </div>
          <div class="sm:min-w-0 sm:flex-1 text-center lg:text-justify lg:ml-5">
            <p class="text-lg font-semibold leading-8 text-gray-900">TEL.</p>
            <p class="mt-2 text-base leading-7 text-gray-600">
              <a href="tel:+3901103333333" class="underline underline-offset-2"
                >+39 011 03333333</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
