<div class="relative">
  <button
    class="absolute z-50 p-2 text-5xl font-bold -translate-y-1/2 bg-black bg-opacity-50 rounded-full top-1/2 left-7 lg:hidden"
    (click)="previousSlide()"
    *ngIf="currentSlide > 0"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2.5"
      stroke="white"
      class="w-8 h-8"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"
      />
    </svg>
  </button>
  <button
    class="absolute z-50 p-2 text-5xl font-bold -translate-y-1/2 bg-black bg-opacity-50 rounded-full top-1/2 right-7 lg:hidden"
    (click)="nextSlide()"
    *ngIf="currentSlide < slides.length - 1"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2.5"
      stroke="white"
      class="w-8 h-8"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
      />
    </svg>
  </button>
  <div
    [ngStyle]="{ transform: 'translateX(' + -currentSlide * 100 + '%)' }"
    class="flex lg:grid lg:grid-cols-2 mx-5 lg:mx-0 lg:gap-5 lg:!transform-none"
  >
    <ng-container *ngFor="let slide of slides; let i = index">
      <div
        class="min-w-full transition-all duration-200 lg:transform-none"
        [class.col-span-2]="hasMain && i === 0"
        [class.-translate-x-full]="currentSlide - 1 === i"
        [class.translate-x-0]="currentSlide === i"
        [class.translate-x-full]="currentSlide + 1 === i"
      >
        <ng-container [ngTemplateOutlet]="slide"></ng-container>
      </div>
    </ng-container>
  </div>
</div>
