<div class="relative">
  <button
    class="absolute z-50 text-5xl font-bold -translate-y-1/2 top-1/2 left-5 lg:hidden"
    (click)="previousSlide()"
    *ngIf="currentSlide > 0"
  >
    <
  </button>
  <button
    class="absolute z-50 text-5xl font-bold -translate-y-1/2 top-1/2 right-5 lg:hidden"
    (click)="nextSlide()"
    *ngIf="currentSlide < slides.length - 1"
  >
    >
  </button>
  <div
    [ngStyle]="{ transform: 'translateX(' + -currentSlide * 100 + '%)' }"
    class="flex mx-5 lg:gap-5 lg:!transform-none"
  >
    <ng-container *ngFor="let slide of slides; let i = index">
      <div
        class="min-w-full transition-all duration-200 lg:min-w-0 lg:flex-1 lg:transform-none"
        [class.-translate-x-full]="currentSlide - 1 === i"
        [class.translate-x-0]="currentSlide === i"
        [class.translate-x-full]="currentSlide + 1 === i"
      >
        <ng-container [ngTemplateOutlet]="slide"></ng-container>
      </div>
    </ng-container>
  </div>
</div>
