<div class="relative flex mx-5 lg:flex-wrap lg:gap-5">
  <button
    class="absolute z-50 text-5xl font-bold -translate-y-1/2 top-1/2 left-5 lg:hidden"
    *ngIf="currentSlideIndex > 0"
    (click)="prevSlide()"
  >
    <
  </button>
  <button
    class="absolute z-50 text-5xl font-bold -translate-y-1/2 top-1/2 right-5 lg:hidden"
    *ngIf="currentSlideIndex < slides.length - 1"
    (click)="nextSlide()"
  >
    >
  </button>
  <ng-container *ngFor="let slide of slides; let i = index">
    <div
      *ngIf="!singleSlide || (singleSlide && i === currentSlideIndex)"
      class="min-w-full lg:min-w-0 lg:flex-1"
    >
      <ng-container [ngTemplateOutlet]="slide"></ng-container>
    </div>
  </ng-container>
</div>
