li {
  @apply text-secondary;
}

li>a:active {
  color: white;
  background-color: #E70B67;
}

.menu {
  right: 10px;
}

label>input {
  display: none;
  visibility: hidden;
}

select {
  border-style: none;
}

select:hover {
  background-color: rgba(172, 170, 170, 0.263);
  border-style: none;
}

select:active {
  color: white;
  background-color: #E70B67;
  border-style: none;
}
